.sidecontent{
	margin: 0px;
	padding: 0px;
    padding-top: 70px ;
	text-align: center;
  
}



.image{
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 15.8em;
  height: 100%;
  opacity: 0.8;
    
}


.sidecontent .wrapper a{
 
	justify-content: center;
	padding: 20px;

    
	font-weight: 800;
	font-size: 0.8em;
	margin-bottom: 5px;
	width: 195px;
	margin-bottom: 30px;
	text-decoration: none;
    color: black ;
	display: block;
    border-radius: 3px ;
    
}

.sidecontent a:hover{
	cursor: pointer;
	background-color: #272424;
    color: white ;
}

.demo{
	padding-right: 3px;
	float: left;
}



